<!DOCTYPE html>
<html lang="en">
<title>Mỹ phẩm thiên nhiên</title>
<link rel="shortcut icon" href="//theme.hstatic.net/1000353126/1000735393/14/favicon.png?v=13" type="image/png" />
<head>

    <%- include('../components/head.ejs') %>

    <link rel="stylesheet" href="../../public/assets/css/main.css" />
    <!-- <link rel="stylesheet" href="../../public/assets/css/product_card.css" /> -->
    <!-- <link rel="stylesheet" href="../../public/assets/css/header.css" /> -->
  </head>
  <body>
    <!-- overlay search -->
    <%- include('../components/search_overlay') %>

    <!-- header -->
    <%- include('../components/header') %>

    <!-- modal-nav-mobile -->

    <%- include('../components/modal_nav-mobile.ejs') %>

    <!-- main -->
    <%- include('../components/main') %>

    <!-- footer -->
    <%- include('../components/footer') %>
  </body>
  <!-- jquery -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!-- own caroucell -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!-- js -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
  ></script>
  <script src="/public/assets/js/bootstrap.min.js"></script>
  <script src="/public/assets/js/index.js"></script>
  <!-- search product js -->
  <script src="/public/assets/js/search-product.js"></script>
  <script src="/public/assets/js/signin-login.js"></script>
  <script src="/public/assets/js/cart_localStorage.js"></script>
  <script src="/public/assets/js/cart.js"></script>
  <script src="/public/assets/js/form_page.js"></script>
</html>
