<div class="details">
    <div class="rencentOrder">
      <div class="cardHeader">
        <h2>List Products</h2>
        <a href="#" class="btn">View All</a>
      </div>
      <table>
        <thead>
          <tr>
            <td>STT</td>
            <td>Id</td>
            <td>Image</td>
            <td>Name</td>
            <td>Prd_key</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Fix</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <!-- <% product.forEach(ele => { %>
          <tr>
            <td><%= ele._id %></td>
            <td>
              <div class="img_Product">
                  <% ele.img.map(img=>{ %>

                    <img
                      class="img_prd"
                      src="<%= img %>"
                      alt="chua co anh"
                    />
                 <% }) %>
              </div>
            </td>
            <td><%= ele.name %></td>
            <td><%= ele.prd_key %></td>
            <td><%= ele.price %></td>
            <td><%= ele.quantity %></td>
            <td><a href="#<%= ele._id %>" class="btn_fix"  onclick="fixProduct(`<%= ele._id %>`)">Fix</a></td>
            <td><a href="#<%= ele._id %>"  class="btn_delete"  onclick="deleteProduct(`<%= ele._id %>`)">Delete</a></td>
          </tr>
  
          <% }) %> -->
        </tbody>
      </table>
    </div>
  </div>
  