<div class="details">
    <div class="rencentOrder">
      <div class="cardHeader">
        <h2>List Order</h2>
        <a href="#" class="btn">View All</a>
      </div>
      <table>
        <thead>
          <tr>
            <td>STT</td>
            <td>User Order</td>
            <td>Date</td>
            <td>Address Order</td>
            <td>Total Price</td>
            <td>Status</td>
            <td>Edit</td>
            <td>Views</td>
          </tr>
        </thead>
        <tbody>
          <!-- <% order.forEach((ele, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= ele.userId.username %> </td>
            <td><%= ele.orderDate %></td>
            <td><%= ele.address %></td>
            <td><%= ele.totalPrice.toLocaleString() + 'đ' %></td>
            <td><%= ele.status %></td>
            <td><a href="#<%= ele._id %>" class="btn_fix"  onclick="edit(`<%= ele._id %>`)">edit</a></td>
            <td><a href="#<%= ele._id %>"  class="btn_delete"  onclick="view(`<%= ele._id %>`)">view</a></td>
          </tr>
  
          <% }) %> -->
        </tbody>
      </table>
    </div>
  </div>
  